{{!-- Footer --}}

<div id="footer">
  <div class="clearfix">
    <div class="fl">
      <a href="{{@blog.url}}" title="{{@blog.description}}">{{@blog.title}}</a>
      <span>&copy;&nbsp;{{date format="YYYY"}}</span>
    </div>

    <div class="fr">
      <span>Powered by</span>
      <a href="https://ghost.org"
         rel="nofollow"
         target="_blank">Ghost</a><span>.</span>
      <span>Theme:</span>
      <a href="https://github.com/imzhengfei/ghost-theme-flatghost"
         rel="nofollow"
         title="从 GitHub 获取本博客主题"
         target="_blank">FlatGhost</a><span>.</span>
    </div>
  </div>
</div>
