{{!-- Footer --}}

<footer id="footer">
  <div class="left">
    <a href="{{@site.url}}" title="{{@site.description}}">{{@site.title}}</a>

    <span>&copy;&nbsp;{{date format="YYYY"}}&nbsp;</span>

    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0"
       target="_blank"
       title="Attribution-NonCommercial-ShareAlike 4.0 International"
       rel="nofollow">CC BY-NC-SA 4.0</a>
  </div>

  <div class="right">
    <span>Published with</span>

    <a href="https://ghost.org"
       target="_blank"
       rel="nofollow">Ghost</a><span>.&nbsp;</span>

    <span>Theme:</span>

    <a href="https://github.com/avincheng/ghost-theme-flatghost"
       target="_blank"
       title="Get this theme from GitHub."
       rel="nofollow">flat-ghost</a><span>.</span>
  </div>
</footer>
