{{!-- Mobile Header: Only show on mobile (screen width < 1024px) --}}

<div id="mobile-header" class="clearfix">
  <div class="fl title">
    {{#is 'index'}}
      {{@site.title}}
    {{/is}}

    {{#is 'post'}}
      Post
    {{/is}}

    {{#is 'page'}}
      {{#post}}{{title}}{{/post}}
    {{/is}}

    {{#is 'tag'}}
      {{#tag}}{{name}}{{/tag}}
    {{/is}}

    {{#is 'author'}}
      {{#primary_author}}{{name}}{{/primary_author}}
    {{/is}}
  </div>

  <a id="show-mobile-nav" class="fl btn-menu">
    <div class="icon-btn icon-btn-menu"></div>
  </a>
</div>
