{{!-- Mobile Header: Only show on mobile (screen width < 640px) --}}

<div id="mobile-header">
  <div class="box clearfix">
    <div class="title fl">

      {{#is "index"}}
        {{@blog.title}}
      {{/is}}

      {{#is "post"}}
        文章
      {{/is}}

      {{#is "page"}}
        {{#post}}{{title}}{{/post}}
      {{/is}}

      {{#is "tag"}}
        {{#tag}}{{name}}{{/tag}}
      {{/is}}

      {{#is "author"}}
        {{#author}}{{name}}{{/author}}
      {{/is}}
    </div>

    <a id="show-mobile-nav" class="btn-menu fl" href="javascript:;">
      <i class="icon-btn icon-btn-menu"></i>
    </a>

    {{!--<a id="show-mobile-search" class="btn-search fl" href="javascript:;">--}}
      {{!--<i class="icon-btn icon-btn-search"></i>--}}
    {{!--</a>--}}
  </div>
</div>