{{!-- mobile navigation bar --}}


{{!-- 顶部导航栏：只在移动设备 (width < 640px) 上显示 --}}
<div id="mobile-nav-bar">
    <div class="wrap clearfix">
        <div class="title fl">

            {{#is "index"}}
                {{@blog.title}}
            {{/is}}

            {{#is "post"}}
                文章
            {{/is}}

            {{#is "page"}}
                {{#post}}{{title}}{{/post}}
            {{/is}}

            {{#is "tag"}}
                {{#tag}}{{name}}{{/tag}}
            {{/is}}

            {{#is "author"}}
                {{#author}}{{name}}{{/author}}
            {{/is}}
        </div>
        <a id="open-mobile-nav" class="btn nav-menu fl" href="javascript:;">
            <div class="ico ico-menu"></div>
        </a>
        <a id="open-mobile-search" class="btn nav-search fl" href="javascript:;">
            {{!-- waiting... --}}
        </a>
    </div>
</div>
