{{!-- Blog Navigation --}}

<ul id="nav" role="menu">
  {{#if @blog.navigation}}
    {{#foreach navigation}}
      <li {{#if current}}class="current"{{/if}}>
        <a href="{{url absolute="true"}}" role="menuitem">{{label}}</a>
      </li>
    {{/foreach}}
  {{/if}}
</ul>
