{{!-- Blog Navigation --}}

{{#if @blog.navigation}}
  <ul id="nav" role="menu">
    {{#foreach navigation}}
      <li {{#if current}}class="current"{{/if}}>
        <a href="{{url absolute="true"}}" role="menuitem">{{label}}</a>
      </li>
    {{/foreach}}
  </ul>
{{/if}}
