{{!-- Main: Pagination --}}

<div id="pagination" class="main-card">

  <span>{{page}} / {{pages}}</span>

  {{#if prev}}
    <a class="prev fl" href="{{page_url prev}}">上一页</a>
  {{/if}}

  {{#if next}}
    <a class="nest fr" href="{{page_url next}}">下一页</a>
  {{/if}}
</div>
