{{!-- main: pagination --}}


<ul id="pagination" class="main-card clearfix" role="menu">

    {{#if prev}}
        <li class="prev fl"><a href="{{page_url prev}}">上一页</a></li>
    {{/if}}

    {{#if next}}
        <li class="next fl"><a href="{{page_url next}}">下一页</a></li>
    {{/if}}

    <li class="fr"><span>{{page}} / {{pages}}</span></li>
</ul>
