{{!-- Widget: Follow Me --}}


<div class="widget-follow-me widget">

  <div class="title">关注我</div>

  <ul class="items clearfix">

    <!--<li class="item">-->
      <!--<a class="ico github" href="" title="GitHub" target="_blank" rel="nofollow"></a>-->
    <!--</li>-->

    <!--<li class="item">-->
      <!--<a class="ico zhihu" href="" title="知乎" target="_blank" rel="nofollow"></a>-->
    <!--</li>-->

    <!--<li class="item">-->
      <!--<a class="ico weibo" href="" title="新浪微博" target="_blank" rel="nofollow"></a>-->
    <!--</li>-->

    <!--<li class="item">-->
      <!--<a class="ico douban" href="" title="豆瓣" target="_blank" rel="nofollow"></a>-->
    <!--</li>-->

    <!--<li class="item">-->
      <!--<a class="ico qqzone" href=""  title="QQ空间" target="_blank" rel="nofollow"></a>-->
    <!--</li>-->

    {{#if @blog.facebook}}
      <li class="item">
        <a class="ico facebook" href="{{facebook_url}}" title="FaceBook" target="_blank" rel="nofollow"></a>
      </li>
    {{/if}}

    {{#if @blog.twitter}}
      <li class="item">
        <a class="ico twitter" href="{{twitter_url}}" title="Twitter" target="_blank" rel="nofollow"></a>
      </li>
    {{/if}}
  </ul>
</div>
