{{!-- Blog Info Widget --}}

<div class="widget widget-blog-follow">
  <div class="widget-title">Follow</div>

  <ul class="social">
<!--    <li>-->
<!--      <a href="https://github.com/avincheng"-->
<!--         title="GitHub"-->
<!--         target="_blank"-->
<!--         rel="noopener">-->
<!--        <i class="icon-social icon-social-github"></i>-->
<!--      </a>-->
<!--    </li>-->

    {{#if @site.facebook}}
      <li>
        <a href="{{facebook_url}}"
           title="FaceBook"
           target="_blank"
           rel="noopener">
          <i class="icon-social icon-social-facebook"></i>
        </a>
      </li>
    {{/if}}

    {{#if @site.twitter}}
      <li>
        <a href="{{twitter_url}}"
           title="Twitter"
           target="_blank"
           rel="noopener">
          <i class="icon-social icon-social-twitter"></i>
        </a>
      </li>
    {{/if}}

<!--    <li>-->
<!--      <a href=""-->
<!--         title="LinkedIn"-->
<!--         target="_blank"-->
<!--         rel="noopener">-->
<!--        <i class="icon-social icon-social-linkedin"></i>-->
<!--      </a>-->
<!--    </li>-->

<!--    <li>-->
<!--      <a href=""-->
<!--         title="ZhiHu"-->
<!--         target="_blank"-->
<!--         rel="noopener">-->
<!--        <i class="icon-social icon-social-zhihu"></i>-->
<!--      </a>-->
<!--    </li>-->

<!--    <li>-->
<!--      <a href=""-->
<!--         title="WeiBo"-->
<!--         target="_blank"-->
<!--         rel="noopener">-->
<!--        <i class="icon-social icon-social-weibo"></i>-->
<!--      </a>-->
<!--    </li>-->

<!--    <li>-->
<!--      <a href=""-->
<!--         title="WeChat"-->
<!--         target="_blank"-->
<!--         rel="noopener">-->
<!--        <i class="icon-social icon-social-wechat"></i>-->
<!--      </a>-->
<!--    </li>-->

<!--    <li>-->
<!--      <a href=""-->
<!--         title="QQ"-->
<!--         target="_blank"-->
<!--         rel="noopener">-->
<!--        <i class="icon-social icon-social-qq"></i>-->
<!--      </a>-->
<!--    </li>-->
  </ul>
</div>
