{{!-- Widget: Tags Cloud --}}

<div class="widget widget-tags-cloud">
  <div class="widget-title">Tags</div>
  <ul class="clearfix tags">
    {{#get "tags" limit="20" include="count.posts" order="count.posts desc"}}
      {{#foreach tags}}
        <li class="tag fl">
          <a href="/tag/{{slug}}/">
            {{name}}
            <span>({{count.posts}})</span>
          </a>
        </li>
      {{/foreach}}
    {{/get}}
  </ul>
</div>
