{{!-- Widget: Blog Stat --}}

<div class="widget widget-blog-stat">
  <div class="widget-title">Statistic</div>

  <div class="links">
    <div class="link">
      {{#get 'posts' as |posts postsObj|}}
        <i class="icon-stat icon-stat-posts"></i><span>{{postsObj.total}}</span>
      {{/get}}
    </div>

    <div class="link">
      {{#get 'tags' as |tags tagsObj|}}
        <i class="icon-stat icon-stat-tags"></i><span>{{tagsObj.total}}</span>
      {{/get}}
    </div>
  </div>
</div>
