{{!-- Widget: Blog Stat --}}

<div class="widget-blog-stat widget">

  <div class="title">统计</div>

  <ul class="items clearfix">
    {{#if @labs.publicAPI}}

      <li class="item">
        <i class="ico-stat ico-stat-docs"></i>
        {{#get "posts" as |posts postsObj|}}
          <span>{{postsObj.total}}</span>
        {{/get}}
      </li>

      <li class="item">
        <i class="ico-stat ico-stat-tags"></i>
        {{#get "tags" as |tags tagsObj|}}
          <span>{{tagsObj.total}}</span>
        {{/get}}
      </li>

      <li class="item" id="">
        <i class="ico-stat ico-stat-views"></i>
        <span id="busuanzi_value_site_pv"></span>
      </li>
    {{else}}
      <li>请在博客后台"SETTINGS > Labs"底部勾选"Public API"</li>
    {{/if}}
  </ul>
</div>
