{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

<div id="page-author">
    {{> "main-author"}}
    {{> "main-loop"}}
</div>
