{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


{{#post}}
    <div id="page-page">

        <div class="main {{post_class}}" role="main">

            <h1>{{title}}</h1>

            <div class="content md">
                {{content}}
            </div>
        </div>
        {{> "comments"}}
    </div>
{{/post}}
