{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#post}}
  <div id="page-page">
    <div id="main-content" class="main-card {{post_class}}" role="main">

      <div class="title">
        {{#if featured}}
          <div class="feature-ico"></div>
        {{/if}}
        <h1>{{title}}</h1>
      </div>

      <div class="content md">
        {{content}}
      </div>
    </div>
  </div>
{{/post}}
