@charset "UTF-8";
/** --------------------------------------------------------------------------
 * Basic Styles
 * @author    Avin Cheng
 * @copyright Base on modern-normalize & cube.css | MIT License
 ** ----------------------------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
ul, ol,
h1, h2, h3, h4, h5, h6, pre,
form, fieldset, legend, input, textarea, optgroup,
p, blockquote, figure, hr, menu, dir,
thead, tbody, tfoot, th, td,
dl, dd {
  margin: 0;
  padding: 0;
}

/**
 * 1. 防止 iOS 横屏后字体自动放大
 * 2. 浏览器默认字体大小为 16px，设置文档字体为 10/16=62.5% 后，1rem 即为 10px
 */
html {
  -webkit-text-size-adjust: 100%; /* 1 */
  font-size: 62.5%; /* 2 */
  line-height: 1.8;
}

/**
* 优先使用操作系统更加流行的字体，否则 fallback 回系统默认字体
*
* 西文字体：'Helvetica Neue', Tahoma, Arial
* Linux 中文字体：'Wenquanyi Micro Hei'（文泉驿微米黑）
* Windows 中文字体：'Microsoft YaHei'（微软雅黑）
* macOS 中文字体：'Hiragino Sans GB'（冬青黑体简体中文）
*
* 补充字体：sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'
*
* @link https://www.zhihu.com/question/19911793/answer/13329819
* @link https://zenozeng.github.io/fonts.css/
*/
body,
button,
input,
select,
textarea {
  font-family: 'Helvetica Neue', Tahoma, Arial, 'Wenquanyi Micro Hei',
  'Microsoft YaHei', 'Hiragino Sans GB', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji';
}

/**
 * 代码显示优先使用能明确区分数字 0 和字母 o 的等宽字体
 * Windows：Consolas
 * macOS：Monaco
 * Linux：monospace
 * 补充字体：monospace
 */
code,
kbd,
samp,
pre {
  font-family: Consolas, Monaco, monospace;
}

a {
  text-decoration: none;
}

button:focus {
  outline: 0 none;
}

ul, ol {
  list-style-type: none;
  list-style-image: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table th, table td {
  border: 1px solid #ddd;
  padding: 8px 10px;
}
table th {
  font-weight: inherit;
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
}
