@charset "utf-8";

/*================================================
 * common
 *===============================================*/
body {
  position: relative;
  color: #2C3E50;
  background: #ECF0F1 no-repeat fixed top center;
  background-size: cover;
}
a {
  transition: all .15s linear;
}

/*================================================
 * colorful
 *===============================================*/
/* color-turquoise */
.color-turquoise a {
  color: #1ABC9C;
}
.color-turquoise a:hover {
  color: #2fe2bf;
}
/* color-green */
body.color-green {

}
/* color-blue */
body.color-blue {

}
/* color-purple */
body.color-purple {

}
/* color-red */
body.color-red {

}

/*================================================
 * .md
 *===============================================*/
.md h1 {
  margin: 25px 0 15px;
  border-bottom: 3px solid #ECF0F1;
  font-size: 24px;
  font-weight: bold;
  line-height: 2.2;
}
.md h2 {
  margin: 20px 0 15px;
  border-bottom: 3px solid #ECF0F1;
  font-size: 22px;
  font-weight: bold;
  line-height: 2.2;
}
.md h3 {
  margin: 15px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
}
.md h4 {
  margin: 15px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
}
.md h5 {
  margin: 15px 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
}
.md p,
.md ul,
.md ol,
.md pre,
.md img,
.md blockquote {
  margin: 15px 0;
}
.md code {
  padding: 2px 6px;
  background-color: #ECF0F1;
  white-space: nowrap;
  word-break: keep-all;
}
.md pre {
  padding: 10px 15px;
  background: #ECF0F1;
  overflow: auto;
}
.md pre code {
  border: 0 none;
  padding: 0;
  white-space: pre-wrap;
  word-break: keep-all;
}
.md ul,
.md ol {
  padding-left: 2em;
}
.md ul {
  list-style-type: disc;
}
.md ol {
  list-style-type: decimal;
}
.md img {
  display: block;
  max-width: 100%;
}
.md blockquote {
  border-left: 4px solid #BDC3C7;
  padding: 0 15px;
  color: #7F8C8D;
}
.md blockquote blockquote {
  padding-right: 0;
}
.md table {
  margin: 15px 0;
  min-width: 100%;
  padding: 0;
  word-break: initial;
}
.md table p {
  margin: 0;
}
.md table tr {
  border-top: 1px solid #BDC3C7;
  background-color: white;
  margin: 0;
  padding: 0;
}
.md table thead tr,
.md table tbody tr:nth-child(2n) {
  background-color: #ECF0F1;
}
.md table tr th {
  font-weight: bold;
  border: 1px solid #BDC3C7;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.md table tr td {
  border: 1px solid #BDC3C7;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.md table tr th:first-child,
.md table tr td:first-child {
  margin-top: 0;
}
.md table tr th:last-child,
.md table tr td:last-child {
  margin-bottom: 0;
}

/*================================================
 * layout
 *===============================================*/
#wrap {
  position: relative;
  z-index: 1000;
  margin: 0 auto;
  width: 80%;
  max-width: 1300px;
  min-width: 920px;
}
#main-wrap {
  width: 100%;
}
#main {
  margin-left: 260px;
  padding: 30px 20px 0;
}
#sidebar {
  margin-left: -100%;
  padding: 30px 0 0 20px;
  width: 240px;
}
.main-card {
  margin-bottom: 30px;
  background: #FFFFFF;
}
#mobile-nav-bar {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  margin-bottom: 30px;
  width: 100%;
}
#mask {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
}
#mobile-nav-menu {
  display: none;
  position: fixed;
  z-index: 4000;
  left: -280px;
  top: 0;
  width: 280px;
  height: 100%;
}
@media (max-width: 959px) {
  #wrap {
    min-width: 320px;
  }
  #main {
    margin-left: 0;
  }
  #sidebar {
    display: none;
  }
  #mobile-nav-bar {
    display: block;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  #main {
    padding: 86px 20px 0;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  #wrap {
    width: 600px;
  }
}
@media (max-width: 639px) {
  .default-cover {
    /* @meta {"spritesheet": {"include": false}} */
    background-image: url("../img/bg-750.jpg");
  }
  #wrap {
    width: 100%;
    max-width: 600px;
  }
  #main {
    padding: 71px 15px 0;
  }
  .main-card {
    margin-bottom: 15px;
  }
}

/*================================================
 * #main-loop
 *===============================================*/
#main-loop > .loop {
  position: relative;
  overflow: hidden;
}
#main-loop > .img-box,
#main-loop .img-box > img {
  display: block;
  width: 100%;
}
#main-loop .title {
  position: relative;
  padding: 30px 30px 15px;
}
#main-loop .post-link {
  color: #2C3E50;
}
#main-loop .post-link:hover {
  color: #1ABC9C;
  text-decoration: none;
}
#main-loop .post-link > h2 {
  display: inline;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  word-break: break-all;
}
#main-loop .feature-ico,
#main-content .feature-ico {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
#main-loop .feature-ico:before,
#main-content .feature-ico:before {
  content: "";
  position: absolute;
  right: -30px;
  top: 0;
  border: 30px solid transparent;
  border-top-color: #1abc9c;
  width: 0;
}
/* also used in "post.hbs" */
.post-meta {
  margin: 0 30px 20px;
  padding: 10px 20px;
  background: #ECF0F1;
  line-height: 1;
  overflow: hidden;
}
.post-meta > li {
  position: relative;
  display: inline;
  float: left;
  margin-right: 20px;
  height: 16px;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 50%;
}
.post-meta .ico {
  display: block;
  float: left;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.post-meta .ico-author {
  background-image: url("../img/icos/meta-author.png");
}
.post-meta .ico-date {
  background-image: url("../img/icos/meta-date.png");
}
.post-meta .ico-tags {
  background-image: url("../img/icos/meta-tags.png");
}
.post-meta .ico-comments {
  background-image: url("../img/icos/meta-comments.png");
}
.post-meta .ico-views {
  background-image: url("../img/icos/meta-views.png");
}
.post-meta a,
.post-meta span {
  height: 16px;
  line-height: 16px;
  color: #95A5A6;
}
#main-loop .excerpt {
  padding: 0 30px;
  word-break: break-all;
}
#main-loop .read-more {
  padding: 20px 30px 30px;
}
#main-loop .read-more > a {
  background: #1abc9c;
  padding: 8px 15px;
  color: #FFFFFF;
}
#main-loop .read-more > a:hover {
  background: #2fe2bf;
  text-decoration: none;
}
@media (max-width: 639px) {
  #main-loop .title {
    padding: 0;
  }
  #main-loop .post-link {
    display: block;
    padding: 15px;
  }
  #main-loop .post-link > h2 {
    font-weight: normal;
    font-size: 20px;
  }
  #main-loop .feature-ico,
  #main-content .feature-ico {
    width: 20px;
    height: 20px;
  }
  #main-loop .feature-ico:before,
  #main-content .feature-ico:before {
    right: -20px;
    border-width: 20px;
  }
  #main-loop .post-meta,
  #main-loop .excerpt,
  #main-loop .read-more {
    display: none;
  }
}

/*================================================
 * #main-none
 *===============================================*/
#main-none .post-none {
  padding: 30px;
  height: 250px;
}

/*================================================
 * #main-author
 *===============================================*/
#main-author {
  position: relative;
  padding: 0 30px 30px 178px;
}
#main-author > img.avatar {
  display: block;
  left: -178px;
  margin-left: -100%;
  padding: 30px 20px 0 30px;
  width: 128px;
  height: 128px;
}
#main-author > .info {
  width: 100%;
}
#main-author > .info > h1 {
  padding: 35px 0 5px;
  font-size: 24px;
}
#main-author h1 > span.location {
  font-weight: normal;
  font-size: 14px;
  color: #7F8C8D;
}
#main-author .links > li {
  float: left;
  margin: 0 15px 10px 0;
}
#main-author li > a {
  display: block;
  padding: 2px 12px;
  border: 1px solid #7F8C8D;
  color: #7F8C8D;
  font-size: 12px;
}
#main-author li > a:hover {
  border: 1px solid #2fe2bf;
  color: #2fe2bf;
  text-decoration: none;
}
#main-author > .info > .bio {
  color: #7F8C8D;
  font-style: italic;
  word-break: break-all;
}

@media (max-width: 639px) {
  #main-author {
    padding: 0 20px 20px 94px;
  }
  #main-author > img.avatar {
    left: -94px;
    padding: 20px 10px 0 20px;
    width: 64px;
    height: 64px;
  }
  #main-author > .info > h1 {
    padding: 12px 0 0;
    font-size: 22px;
  }
  #main-author .links > li {
    margin: 0 10px 5px 0;
  }
}

/*================================================
 * #pagination
 *===============================================*/
#pagination {
  margin-bottom: 30px;
  text-align: center;
}
#pagination > li.pages {
  margin: 0 20px;
}
#pagination > li > span {
  display: block;
  padding: 4px 14px;
  border: 1px solid #95A5A6;
  color: #95A5A6;
  font-size: 14px;
  line-height: 20px;
}
#pagination > li > a {
  display: block;
  padding: 5px 15px;
  font-size: 12px;
  line-height: 20px;
  background: #1abc9c;
  color: #FFFFFF;
}
#pagination > li > a:hover {
  background: #2fe2bf;
  text-decoration: none;
}

@media (max-width: 639px) {
  #pagination {
    margin-bottom: 15px;
  }
}

/*================================================
 * #comments
 *===============================================*/
#comments .comments-box {
  padding: 30px;
}
@media (max-width: 639px) {
  #comments .comments-box {
    padding: 15px 20px;
  }
}

/*================================================
 * #footer
 *===============================================*/
#footer {
  margin-bottom: 10px;
  color: #95A5A6;
  font-size: 12px;
}
#footer a {
  color: #95A5A6;
  text-decoration: underline;
}
#footer a:hover {
  color: #bdc3c7;
}

/*================================================
 * #page-post
 *===============================================*/
/* also uesed in page */
#main-content {
  padding-bottom: 30px;
}
#main-content > img {
  display: block;
  width: 100%;
}
#main-content > .title {
  position: relative;
  padding: 30px 30px 15px;
}
#main-content > .title > h1 {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}
#main-content > .content {
  padding: 0 30px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
}
#main-content > .copyright {
  margin: 0 30px;
  padding: 10px 20px;
  background: #ECF0F1;
}
#main-content > .copyright,
#main-content > .copyright > em {
  color: #7F8C8D;
  font-style: italic;
}
#main-content .mobile-show {
  display: none;
}
#prev-next-link {
  padding: 20px 30px;
}
#prev-next-link > .items {
  display: table;
  width: 100%;
}
#prev-next-link > .items > .item {
  position: relative;
  display: table-cell;
  *display: inline-block;
  vertical-align: middle;
  width: 50%;
}
#prev-next-link > .items > .prev {
  padding: 0 10px 0 30px;
}
#prev-next-link .prev > .arrow-left {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -16px;
  width: 17px;
  height: 32px;
  background-image: url("../img/icos/arrow-left.png");
}
#prev-next-link > .items > .next {
  padding: 0 30px 0 10px;
  text-align: right;
}
#prev-next-link .next > .arrow-right {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -16px;
  width: 17px;
  height: 32px;
  background-image: url("../img/icos/arrow-right.png");
}
#prev-next-link .link {
  color: #2c3e50;
}
#prev-next-link .link:hover {
  color: #2fe2bf;
  text-decoration: none;
}
#prev-next-link h2 {
  display: inline;
  font-size: 16px;
}
@media (max-width: 639px) {
  #main-content {
    padding-bottom: 20px;
  }
  #main-content > .title {
    padding: 20px 40px 10px 20px;
  }
  #main-content > .title > h1 {
    font-size: 24px;
    line-height: 1.5;
  }
  #main-content > .post-meta {
    margin: 0 20px;
    padding: 10px 20px;
  }
  #main-content > .post-meta > .mobile-hide {
    display: none;
  }
  #main-content > .content {
    padding: 0 20px 10px;
  }
  #main-content > .mobile-show {
    display: block;
    margin-bottom: 20px;
  }
  #main-content > .copyright {
    margin: 0 20px;
    padding: 10px 20px;
    background: #ECF0F1;
  }
  #prev-next-link {
    padding: 15px 20px;
  }
  #prev-next-link h2 {
    line-height: 1.4;
  }
}

/*================================================
 * .widget
 *===============================================*/
.widget,
.widget a {
  color: #ECF0F1;
}
.widget a:hover {
  color: #2fe2bf;
  text-decoration: none;
}
.widget > .title {
  border-bottom: 2px solid #16A085;
  padding: 10px 20px;
  color: #95a5a6;
  font-size: 16px;
}
#sidebar .widget {
  margin-bottom: 20px;
  background: #2c3e50;
}
/* hide title on mobile */
#mobile-nav-menu .widget > .title {
  display: none;
}

/*================================================
 * .widget-blog-logo
 *===============================================*/
.widget-blog-logo {
  border-bottom: 2px solid #16A085;
  background: #2c3e50;
}
.widget-blog-logo > .logo,
.widget-blog-logo > .logo > img {
  display: block;
  width: 100%;
}
.widget-blog-logo > .logo:hover,
.widget-blog-logo > .blog-title:hover {
  background: #34495e;
  text-decoration: none;
}
.widget-blog-logo > .blog-title {
  display: block;
  padding: 35px 0 25px;
  text-align: center;
}
.widget-blog-logo > .blog-title > h1 {
  font-size: 28px;
  color: #ECF0F1;
  line-height: 1;
  letter-spacing: 0.2em;
}
.widget-blog-logo > .blog-title > .des {
  color: #95a5a6;
  font-style: italic;
  text-decoration: none;
}
.widget-blog-logo > .blog-title:hover > h1 {
  color: #FFFFFF;
}

/*================================================
 * .widget-blog-nav
 *===============================================*/
.widget-blog-nav > .menu-item {
  border-top: 2px solid #34495e;
}
.widget-blog-nav > .menu-item:first-child {
  border-top: 0 none;
}
.widget-blog-nav > .menu-item > a {
  display: block;
  padding: 0 20px;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  white-space: nowrap;
  text-overflow: clip;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.widget-blog-nav > .menu-item > a:hover,
.widget-blog-nav > .menu-current > a {
  background: #34495e;
}
.widget-blog-nav > .menu-current > a {
  color: #1abc9c;
}
.widget-blog-nav > .menu-current > a:hover {
  color: #2fe2bf;
}
#mobile-nav-menu .widget-blog-nav,
#mobile-nav-menu .widget-tags-cloud {
  border-bottom: 2px solid #1abc9c;
}
#mobile-nav-menu .widget-blog-nav .menu-item > a {
  padding: 4px 20px;
}

/*================================================
 * .widget-featured-posts
 *===============================================*/
.widget-featured-posts > .items {
  padding: 20px;
}
.widget-featured-posts > .items > .item {
  border-bottom: 1px solid #34495e;
  padding: 5px 0;
  word-break: break-all;
}
.widget-featured-posts > .items > .item:first-child {
  border-top: 1px solid #34495e;
}

/*================================================
 * .widget-tags-cloud
 *===============================================*/
.widget-tags-cloud > .tags {
  padding: 20px 10px 10px 20px;
}
.widget-tags-cloud .tag {
  margin: 0 10px 10px 0;
  background: #34495e;
}
.widget-tags-cloud .tag > a {
  display: block;
  padding: 0 10px;
  color: #ECF0F1;
}
.widget-tags-cloud .tag > a:hover {
  background: #2fe2bf;
  text-decoration: none;
}

/*================================================
 * .widget-blog-stat
 *===============================================*/
.widget-blog-stat > .items {
  padding: 20px;
}
.widget-blog-stat > .items > .item {
  position: relative;
  display: inline;
  float: left;
  width: 50%;
  text-align: center;
}

/*================================================
 * .widget-follow-me
 *===============================================*/
.widget-follow-me > .items {
  padding: 20px 0 0 20px;
}
.widget-follow-me > .items > .item {
  position: relative;
  display: inline;
  float: left;
  margin: 0 20px 20px 0;
  border-radius: 50%;
  overflow: hidden;
}
/* scocial icos: 32x32 */
.widget-follow-me .ico {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #34495e;
}
.widget-follow-me .ico:hover {
  background-color: #2fe2bf;
}
.widget-follow-me .github {
  background-image: url("../img/icos/social-github.png");
}
.widget-follow-me .zhihu {
  background-image: url("../img/icos/social-zhihu.png");
}
.widget-follow-me .weibo {
  background-image: url("../img/icos/social-weibo.png");
}
.widget-follow-me .douban {
  background-image: url("../img/icos/social-douban.png");
}
.widget-follow-me .qqzone {
  background-image: url("../img/icos/social-qqzone.png");
}
.widget-follow-me .facebook {
  background-image: url("../img/icos/social-facebook.png");
}
.widget-follow-me .twitter {
  background-image: url("../img/icos/social-twitter.png");
}

/*================================================
 * #mobile-navigation
 *===============================================*/
#mobile-nav-bar {
  background: #2c3e50;
  color: #ecf0f1;
}
#mobile-nav-bar > .wrap {
  padding: 0 56px;
}
#mobile-nav-bar .title {
  width: 100%;
  height: 56px;
  font-size: 24px;
  line-height: 56px;
  text-align: center;
  white-space: nowrap;
  text-overflow: clip;
}
#mobile-nav-bar .nav-menu {
  left: -56px;
  margin-left: -100%;
}
#mobile-nav-bar .nav-search {
  margin-right: -56px;
}
#mobile-nav-bar .btn {
  display: block;
  padding: 12px;
}
#mobile-nav-bar .btn:hover {
  background-color: #34495e;
}
#mobile-nav-bar .ico {
  width: 32px;
  height: 32px;
}
#mobile-nav-bar .ico-menu {
  background-image: url("../img/icos/nav-menu.png");
}
#mobile-nav-menu > .scroll-box {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  overflow-y: auto;
  overflow-x: hidden;
}
#mobile-nav-menu > .scroll-box > .wrap {
  width: 100%;
  overflow-x: hidden;
}
